<!DOCTYPE html>
<script src="/static/main.js"></script>


<html>
<title>Robot Monitor</title>


<br>
Real Speed: <span id="leftSpeed">__</span>, <span id="rightSpeed">__</span> mph<br>
Desired Speed: <span id="desLeftSpeed">__</span>, <span id="desRightSpeed">__</span> mph<br>

<br>
Current Position: <span id="lat">__</span>, <span id="long">__</span><br>



<button type="button" id="setTarget", onclick="addDest(document.getElementById('desLatInput').value, document.getElementById('desLongInput').value);">apply</button>
</p>


<br>Heading: <span id="heading">__</span> degrees north; Target: <span id="targetHeading">__</span> degrees north<br> 


<br>




scale:<br>
<input type="number" id="scale" ></input>
<button type="button" id="scaleApply", onclick="canvasScale = document.getElementById('scale').value; drawBoard();" >apply</button><br>


Blue = target heading, Red = heading<br>
<canvas id="mainCanvas" width="600px" height="600px" onclick="clickEvent(event);" style="background:rgb(200,200,200);">



<body onload="begin();">

<!-- <body onload="setup();"> -->



</html>