<!DOCTYPE html>
<html>
<title>Robot Monitor</title>
<body style="background-color: rgb(0,120,0);">

</div>

<script>


var canvasScale = 0
var canvasCenterCoords = [40.4699462,-86.9953345];
var robotCentered = true;
var showPath = true;
var pathPoints = [];

var robotCoords = [40.4699462,-86.9953345];
var destinationPoints = [];
var obstaclePoints = [];
var gpsAccuracy = -1;
var trueHeading = 0;
var headingAccuracy = 0;
var targetHeading = 0;
var desiredSpeed = [0,0];
var realSpeed = [0,0];
var runID = -1;
var runMode = 0
var runTime = 0;

var destID = -1;
var obstaclesID = -1;
var settingsVersion = -1;
var requestInt = setInterval(sendInfo, 200);
var logData = "";
var lastLogVals = [0,0,0,0,0,0,0,0,0,0,0,0,0,0];


var controlVars = {
	"saveLogs": true,
	"topSpeed": 2,
	"defaultDestTolerance": 1.5,
	"enableMovement": true,
	"updateSpeed": 100,
	"kill":0
}

var updatedControlVars = [];



var mouseDown = false;
var dragged = false;
var lastMouseSpot = [0,0]

var lastUpdateTime = 0;
var gettingMessages = true;

var obstructions = [];


function sendInfo(){
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			if (gettingMessages == false){
				clearInterval(requestInt)
				requestInt = setInterval(sendInfo, 200);
				document.getElementById("connectionStatusBoxBody").innerHTML = "Connected";

				gettingMessages = true;
			}
			info = JSON.parse(this.responseText);
			robotCoords = [parseFloat(info["coords"][0].toFixed(6)), parseFloat(info["coords"][1].toFixed(6))];
			if (robotCentered){
				canvasCenterCoords = [...robotCoords];
			}

			gpsAccuracy = info["gpsAccuracy"];
			connectionType = info["connectionType"];
			let connectionTypesLabels = ["Position not known", "Position known without RTK", "DGPS", "UNKNOWN FIX LEVEL 3", "RTK float", "RTK fixed"];

			document.getElementById("gpsBoxBody").innerHTML = "Status: " + connectionTypesLabels[connectionType] + " <br><br>Coords: " +robotCoords + "<br><br>Accuracy: " + gpsAccuracy + " mm";



			trueHeading = info["heading"];
			document.getElementById("headingBoxBody").innerHTML = trueHeading.toFixed(2) + "&#176; N";

			headingAccuracy = info["headingAccuracy"];


			targetHeading = info["targetHeading"];
			document.getElementById("targetHeadingBoxBody").innerHTML = targetHeading.toFixed(2) + "&#176; N";

			if (pathPoints.length>1 && Math.abs(robotCoords[0]) > 2) {

				if (pathPoints[pathPoints.length-1][0] != robotCoords[0] || pathPoints[pathPoints.length-1][1] != robotCoords[1]) {
					pathPoints.push([...robotCoords]);
				}
			} else if (Math.abs(robotCoords[0]) > 2) {
				pathPoints.push([...robotCoords]);
			}

			realSpeed = [info["realSpeed"][0].toFixed(2), info["realSpeed"][0].toFixed(2)];
			document.getElementById("speedBoxBody").innerHTML = realSpeed + " mph";

			targetSpeed = [info["targetSpeed"][0].toFixed(2), info["targetSpeed"][0].toFixed(2)];
			let speedError = [(targetSpeed[0]-realSpeed[0]).toFixed(2), (targetSpeed[1]-realSpeed[1]).toFixed(2)];
			document.getElementById("targetSpeedBoxBody").innerHTML = targetSpeed + " mph (" + speedError + " off)";

			if (runID != info["runID"]){
				runID = info["runID"];
				console.log("new run");
				console.log("run mode", runID)
				pathPoints = [];
				logData = "";
				if (runID[0] == 't'){
					console.log("testing!!!")
					document.title = "Test Robot Monitor";
					runMode = 1;
					document.getElementById("saveLogsBox").style.display="none"
					document.getElementById("maxSpeedBox").style.display="block";
					document.getElementById("updateSpeedBox").style.display="block";

					console.log("checked record logs");

				} else if (runID[0] == 'p'){
					document.title = "Playback Robot Monitor";
					runMode = 2;
					document.getElementById("saveLogsBox").style.display="none";
					document.getElementById("maxSpeedBox").style.display="none";
					document.getElementById("updateSpeedBox").style.display="block";

				} else {
					document.title = "Robot Monitor";
					runMode = 0;
					document.getElementById("recordLogs").checked = true;
					document.getElementById("updateSpeedBox").style.display="none";
					document.getElementById("saveLogsBox").style.display="block";
					document.getElementById("maxSpeedBox").style.display="block";
				}
				if (runMode != 0){
					updatedControlVars.push("updateSpeed");
				}
			
			}

			document.getElementById("runTimeBoxHeader").innerHTML = "Run ID: " + runID;

			runTime = parseInt(info["runTime"]);
			hrs = (runTime/3600).toFixed(0)
			mins = String((runTime%3600/60).toFixed(0)).padStart(2, '0')
			secs = String((runTime%60).toFixed(0)).padStart(2, '0')
			document.getElementById("runTimeBoxBody").innerHTML = "Runtime: " + hrs + ":" + mins + ":" + secs


			let newDestinations = false;
			if ("destinations" in info) { // sometimes doesnt send destinations since it is a big array of a lot of data
        destinationPoints = info["destinations"];
        console.log("destinations:", destinationPoints);      
	     	if ("destID" in info) { 
	        destID = info["destID"];
	      }
	      newDestinations = true;
	    }

	    let newObstacles = false;
	    if ("obstacles" in info) { // sometimes doesnt send target path since it is a big array of a lot of data
	      obstaclePoints = info["obstacles"];
	      console.log("obstacles", obstaclePoints, "id", obstaclesID)
	     	if ("obstaclesID" in info) { 
	      	obstaclesID = info["obstaclesID"];
	      }
	      newObstacles = true;
	    }

	    if ("obstructions" in info) { // sometimes doesnt send target path since it is a big array of a lot of data
	      obstructions = info["obstructions"];
	    }

	    if ("status" in info){
		    let statusCodes = {0: "Waiting to start", 1: "Waiting for GPS fix", 2: "Waiting for better GPS accuracy", 3: "Waiting for GPS heading", 4: "Moving forward normally", 5: "Close to destination, slowing down", 6: "Moving in zero point turn", 7: "Pausing during a zero point turn", 8: "At destination, pausing", 9: "Moving to correct heading", 10: "Video-based Navigation", 11: "Outside row", 12: "Don't know which way the robot is facing, slowing down", 13: "Know where the robot is facing", 14: "Slight correction necessary", 15: "major correction necessary", 16: "Shutting down robot", 17: "Heading too different from the row angle", 18: "Obstacle in view", 19: "stopping to avoid obstacle", 20: "backing up to avoid obstacle"};
		    let msg = "";
		    i = 0;
		    while (i<info["status"].length){
		    	msg += statusCodes[info["status"][i]] + "<br>";
		    	i+=1;
		    }
		    document.getElementById("messagesBoxBody").innerHTML = msg;
		  }


	    
	    logtoMsg(newDestinations, newObstacles);


			drawBoard();
			drawCamBoard();

		} else if (this.readyState == 4 && this.status == 0) { // did not get correct message
			// console.log("failed to get message")
			lastUpdateTime += 2;
			// console.log(lastUpdateTime)

			if (gettingMessages == true){
				lastUpdateTime = 0;
				console.log("slowing message request rate")
				clearInterval(requestInt)
				requestInt = setInterval(sendInfo, 2000);
				gettingMessages = false;
			}
			document.getElementById("connectionStatusBoxBody").innerHTML = "No Connection (" + lastUpdateTime + "s)"

		}
	};
	
	argList = "?destID=" + destID + "&obstaclesID=" + obstaclesID + "&settingsID=" + settingsVersion + "&";

	let i = 0;
	while (i<updatedControlVars.length){
		argList += updatedControlVars[i] + "=" + controlVars[updatedControlVars[i]] + "&";
		i+=1;
	}
	updatedControlVars = [];


	
	argList = argList.slice(0,-1);
	console.log("arg list", argList);
	xhttp.open('GET', '/_info' + argList, true);
	xhttp.send();
	 
}


function logtoMsg(newDestinations, newObstacles){
	if (document.getElementById("recordLogs").checked){
    	// console.log("recording log");
    	msg = "";
    	if (newDestinations){
    		msg += "d," + destinationPoints + ",\n";
    	}

    	dataToLog = [runTime, trueHeading, targetHeading, realSpeed[0], realSpeed[1], targetSpeed[0], targetSpeed[1], robotCoords[0], robotCoords[1], 0,0, headingAccuracy, gpsAccuracy, connectionType];
    	let i=0;
    	while (i<dataToLog.length){
    		if (dataToLog[i] != lastLogVals[i]){
    			msg += dataToLog[i] + ",";
    		} else{
    			msg += ",";
    		}
    		i+=1;
    	}
    	msg += "\n";
    	lastLogVals = [...dataToLog] 
    	logData += msg;
	}
}



function coordToCtx(lat, long){
  var longCorrection = Math.cos(canvasCenterCoords[0]*Math.PI/180);
 
  var x = canvasScale*(long - canvasCenterCoords[1])*longCorrection;
  var y = -(canvasScale*(lat - canvasCenterCoords[0]));

  return [x,y];
}

function ctxToCoord(x, y){
  var longCorrection = Math.cos(canvasCenterCoords[0]*Math.PI/180);
  var long = (x)/(canvasScale*longCorrection);
  var lat = y/canvasScale;
  return [lat,long];
}


function adjustScale(){
	if (destinationPoints.length>2){
		let i=0
		latRange = [robotCoords[0], robotCoords[0]];
		longRange = [robotCoords[1], robotCoords[1]]
		while (i<destinationPoints.length){
			if (destinationPoints[i][0]>latRange[1]) {latRange[1]=destinationPoints[i][0]}
			if (destinationPoints[i][0]<latRange[0]){latRange[0]=destinationPoints[i][0]}
			if (destinationPoints[i][1]>longRange[1]){longRange[1]=destinationPoints[i][1]}
			if (destinationPoints[i][1]<longRange[0]){longRange[0]=destinationPoints[i][1]}
			i+=1;
		}
		let c = document.getElementById("pointMap");
		scaleLat = c.height/(latRange[1]-latRange[0]);
		scaleLong = c.width/(longRange[1]-longRange[0]);
		// console.log("range", latRange, longRange);
		// console.log("scale", scaleLat, scaleLong)
		if (Math.abs(scaleLat) < Math.abs(scaleLong)){
			canvasScale = -Math.abs(scaleLat) * 0.3;
		} else {
			canvasScale = -Math.abs(scaleLong) * 0.3;
		}
	}
}



function drawBoard(){
	let c = document.getElementById("pointMap");
	let ctx = c.getContext("2d");
	let canvasWidth = c.width;
	let canvasHeight = c.height;
	  //adjust this!

	let canvasSize = c.getBoundingClientRect();


	let centerCtxCoords = [canvasWidth/2, canvasHeight/2]

	ctx.clearRect(0, 0, canvasWidth, canvasHeight);

	if (robotCentered){
		canvasCenterCoords = [...robotCoords]
		adjustScale();
	}


	// draw destinations
	let i=0;
	while (i<destinationPoints.length){
		let coords = coordToCtx(destinationPoints[i][0], destinationPoints[i][1]);
		coords = [centerCtxCoords[0]-coords[0], (centerCtxCoords[1]-coords[1])];

		ctx.fillStyle = "black"
		ctx.beginPath();
		ctx.arc(coords[0], coords[1], 8, 0, 2 * Math.PI);
		ctx.fill();
		// ctx.stroke();
		ctx.font = '25px serif';
    ctx.fillText(i+1, coords[0]-5, coords[1]-12);
    ctx.stroke();
		i+=1
	}

	//draw obstacles
	i=0;
	if (obstaclePoints.length > 0){

		while (i<obstaclePoints.length) {
			ctx.beginPath();
			let firstCoords = coordToCtx(obstaclePoints[i][0][0], obstaclePoints[i][0][1]);
			firstCoords = [centerCtxCoords[0]-firstCoords[0], (centerCtxCoords[1]-firstCoords[1])];
			moveTo(firstCoords[0], firstCoords[1]);
			let j = 1;
			while (j<obstaclePoints[i].length){

				let coords = coordToCtx(obstaclePoints[i][j][0], obstaclePoints[i][j][1]);
				coords = [centerCtxCoords[0]-coords[0], (centerCtxCoords[1]-coords[1])];
				ctx.lineTo(coords[0], coords[1])
		    j+=1;
		  }

		  ctx.fillStyle = "red";
		  ctx.lineTo(firstCoords[0], firstCoords[1])
		  ctx.closePath();
		  ctx.fill();
		  ctx.stroke();
			i+=1
		}
	}


	// draw robot

	let robotCtxCoords = coordToCtx(robotCoords[0], robotCoords[1]);
	robotCtxCoords = [centerCtxCoords[0]-robotCtxCoords[0], centerCtxCoords[1] - robotCtxCoords[1]];
	ctx.fillStyle = "red"
	ctx.beginPath();
	ctx.arc(robotCtxCoords[0], robotCtxCoords[1], 8, 0, 2 * Math.PI);
	ctx.fill()
		ctx.shadowBlur = 100;
	ctx.shadowColor = "black";
	ctx.stroke();
	ctx.shadowBlur = 0;

	// draw heading
	// True heading
	ctx.beginPath();
	ctx.moveTo(robotCtxCoords[0],robotCtxCoords[1]);
	ctx.strokeStyle = "green";
	otherX = robotCtxCoords[0]+Math.cos((trueHeading)*Math.PI/180-Math.PI/2)*50;
	otherY = robotCtxCoords[1]+Math.sin((trueHeading)*Math.PI/180-Math.PI/2)*50
	ctx.lineTo(otherX, otherY);
	// console.log(otherX, otherY);
	ctx.stroke();


	// draw path
	if (showPath && pathPoints.length>2){
			
			let coords = coordToCtx(pathPoints[0][0], pathPoints[0][1]);
			coords = [centerCtxCoords[0]-coords[0], centerCtxCoords[1]-coords[1]];
			ctx.beginPath();
			ctx.strokeStyle = "rgb(0,0,0)";
			ctx.moveTo(coords[0], coords[1])
			let i=1;
			while (i<pathPoints.length){

				let coords = coordToCtx(pathPoints[i][0], pathPoints[i][1]);
				coords = [centerCtxCoords[0]-coords[0], centerCtxCoords[1]-coords[1]];
				ctx.fillStyle = "black"
				
				ctx.lineTo(coords[0], coords[1])
								
				i+=1
			}
			ctx.stroke();
	}
}



function drawCamBoard(){
	let c = document.getElementById("camMap");
	let ctx = c.getContext("2d");
	let canvasWidth = c.width;
	let canvasHeight = c.height;
	ctx.clearRect(0, 0, canvasWidth, canvasHeight);

	let i=0;
	while (i<obstructions.length) {
		ctx.beginPath();
		let coords = [(obstructions[i][0]*canvasWidth/100)+canvasWidth/2, (obstructions[i][1]*canvasHeight/100)+canvasHeight/2, (obstructions[i][2]*canvasWidth/100)+canvasWidth/2, (obstructions[i][3]*canvasHeight/100)+canvasHeight/2]
		ctx.rect(coords[0], coords[1], coords[2], coords[3])
	  ctx.fillStyle = "green";
	  ctx.fill();
	  ctx.stroke();
		i+=1
	}

	ctx.beginPath();
	ctx.moveTo(canvasWidth/2, 0);
	ctx.lineTo(canvasWidth/2, canvasHeight)
	ctx.stroke();

	let th = targetHeading - trueHeading
	ctx.beginPath();
	ctx.moveTo(th/90*canvasWidth/2 + canvasWidth/2, 0);
	ctx.lineTo(th/90*canvasWidth/2 + canvasWidth/2, canvasHeight)
	ctx.stroke();
	
}





function makeStatusBoxes()	{

	makeBox([2,18], 15, "gpsBox");
	document.getElementById("gpsBoxHeader").innerHTML = "GPS";
	document.getElementById("gpsBoxBody").innerHTML = "Status: ___<br><br>Coords: (___, ___)<br><br>Accuracy: __ mm";

	makeBox([2,65], 15, "messagesBox");
	document.getElementById("messagesBoxHeader").innerHTML = "Messages";
	document.getElementById("messagesBoxBody").innerHTML = "<br><br><br><br><br><br>";


	makeBox([50-7.5, 0], 15, "headingBox");
	document.getElementById("headingBoxBody").style.padding = "0px";
	document.getElementById("headingBoxHeader").innerHTML = "Heading";
	document.getElementById("headingBoxBody").innerHTML = "0&#176 N";
	document.getElementById("headingBoxBody").style.fontSize = "30px";
	
	makeBox([25, 3], 15, "targetHeadingBox");
	document.getElementById("targetHeadingBoxBody").style.padding = "0px";
	document.getElementById("targetHeadingBoxHeader").innerHTML = "Target Heading";
	document.getElementById("targetHeadingBoxBody").innerHTML = "0&#176; N";

	makeBox([2, 3], 20, "runTimeBox");
	document.getElementById("runTimeBoxBody").style.padding = "0px";
	document.getElementById("runTimeBoxHeader").innerHTML = "Run ID: ______";
	document.getElementById("runTimeBoxBody").innerHTML = "Runtime: 0:00:00";

	makeBox([60, 3], 20, "connectionStatusBox");
	document.getElementById("connectionStatusBoxBody").style.padding = "0px";
	document.getElementById("connectionStatusBoxHeader").innerHTML = "Robot-Computer Connection";
	document.getElementById("connectionStatusBoxBody").innerHTML = "Connected";

	makeBox([50-15/2,88], 15, "speedBox");
	document.getElementById("speedBoxHeader").innerHTML = "Wheel Speed";
	document.getElementById("speedBoxBody").innerHTML = "__, __";

	makeBox([25,88], 15, "targetSpeedBox");
	document.getElementById("targetSpeedBoxHeader").innerHTML = "Target Speed";
	document.getElementById("targetSpeedBoxBody").innerHTML = "__, __ (__, __ off)";

	makeBox([63,88], 15, "selectedCoordBox");
	document.getElementById("selectedCoordBoxHeader").innerHTML = "Selected Coords";
	document.getElementById("selectedCoordBoxBody").innerHTML = "__, __";
	document.getElementById("selectedCoordBox").style.display = "none";


	makeBox([83, 15], 15, "maxSpeedBox");
	document.getElementById("maxSpeedBoxHeader").innerHTML = "Maximum Speed";
	speedInput = document.createElement("input")
	speedInput.type = "number";
	speedInput.id="maxSpeedInput";
	speedInput.style.width = "30px";
	document.getElementById("maxSpeedBoxBody").appendChild(speedInput)
	document.getElementById("maxSpeedBoxBody").innerHTML += " mph<br> Enable Movement ";
	document.getElementById("maxSpeedInput").value=controlVars["topSpeed"];

	document.getElementById("maxSpeedInput").addEventListener("blur", function () {
				console.log("changed");
				if (this.value != controlVars["maxSpeed"]){
					controlVars["maxSpeed"] = this.value;
				if (!updatedControlVars.includes("maxSpeed")){
						console.log("adding value")
						updatedControlVars.push("maxSpeed");
					}
				}
			});


	movementAllowed = document.createElement("input")
	movementAllowed.type = "checkbox";
	movementAllowed.checked=true;
	movementAllowed.id="movementAllowed";
	document.getElementById("maxSpeedBoxBody").appendChild(movementAllowed);


	makeBox([83, 3], 15, "killBox");
	document.getElementById("killBoxHeader").innerHTML = "Kill Program";
	killButton = document.createElement("input")
	killButton.type="button";
	killButton.value = "KILL";
	killButton.onclick=function(){
		updatedControlVars.push("kill");
	}
	document.getElementById("killBoxBody").appendChild(killButton);




	makeBox([83, 33], 15, "saveLogsBox");
	document.getElementById("saveLogsBoxHeader").innerHTML = "Record Logs";
	document.getElementById("saveLogsBoxBody").innerHTML = "Record Logs:";
	recordLogBox = document.createElement("input")
	recordLogBox.type = "checkbox";
	recordLogBox.checked=false;
	recordLogBox.id="recordLogs";
	document.getElementById("saveLogsBoxBody").appendChild(recordLogBox);

	downloadLog = document.createElement("button")
	downloadLog.id="saveLog";
	downloadLog.innerHTML = "Save Log Locally"
	downloadLog.onclick=function(){
		console.log("save log locally");
		downloadLogFile("log_" + runID + ".txt", logData);
	}
	document.getElementById("saveLogsBoxBody").appendChild(downloadLog)

	
	makeBox([83, 48], 15, "destToleranceBox");
	document.getElementById("destToleranceBoxHeader").innerHTML = "Destination Tolerance";
	let destTolerance= document.createElement("input")
	destTolerance.type = "number";
	destTolerance.id="destToleranceInput";
	document.getElementById("destToleranceBoxBody").appendChild(speedInput)
	document.getElementById("destToleranceBoxBody").innerHTML += " m";


	makeBox([83, 63], 15, "updateSpeedBox");
	document.getElementById("updateSpeedBoxHeader").innerHTML = "Update Speed";
	let destToleranceSlider = document.createElement("input")
	destToleranceSlider.type = "range";
	destToleranceSlider.id="updateSpeedSlider";
	destToleranceSlider.style.width = "90%"
	destToleranceSlider.value = 100;
	destToleranceSlider.min=1;
	destToleranceSlider.max=300;
	destToleranceSlider.oninput=function(){
		document.getElementById("sliderValue").innerHTML= this.value + "%";
		controlVars["updateSpeed"] = this.value;
		if (!updatedControlVars.includes("updateSpeed")){
			console.log("adding value")
			updatedControlVars.push("updateSpeed");
		}
	}
	document.getElementById("updateSpeedBoxBody").appendChild(destToleranceSlider)
	
  let sliderValue = document.createElement("span");
 	sliderValue.id = "sliderValue";
 	sliderValue.innerHTML = "100%"
 	document.getElementById("updateSpeedBoxBody").appendChild(sliderValue)







	makeBox([2,42], 15, "MapToolsBox");
	document.getElementById("MapToolsBoxHeader").innerHTML = "Map Tools";
	document.getElementById("MapToolsBoxBody").innerHTML = "Show Path ";


	// this is a mass of unorganized stuff to allow the creation of things in the right order. Touch it if you dare
	let showPathBox = document.createElement("input")
	showPathBox.type = "checkbox";
	showPathBox.id="showPathBox";
	document.getElementById("MapToolsBoxBody").appendChild(showPathBox)
	document.getElementById("MapToolsBoxBody").innerHTML += "<br>"
	let erasePathBox = document.createElement("button");
	erasePathBox.id = "erasePathButton";
	document.getElementById("MapToolsBoxBody").appendChild(erasePathBox);
	document.getElementById("MapToolsBoxBody").innerHTML += "<br><br>Show Grids"
	document.getElementById("showPathBox").checked=true;
	document.getElementById("showPathBox").onclick=function(){console.log("show path"); showPath = !showPath; drawBoard();};

	document.getElementById("erasePathButton").innerHTML = "Erase Path";
	document.getElementById("erasePathButton").onclick=function(){console.log("erase path"); pathPoints=[]; drawBoard();}
	showGridsBox = document.createElement("input")
	showGridsBox.type = "checkbox";
	showGridsBox.checked=true;
	showGridsBox.id="showGrids";
	showGridsBox.onclick=function(){console.log("show grids");};
	document.getElementById("MapToolsBoxBody").appendChild(showGridsBox)

	// show path, erase path, show gridlines, show scale,
}


function downloadLogFile(filename, text) {
    var pom = document.createElement('a');
    pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    pom.setAttribute('download', filename);

    if (document.createEvent) {
        var event = document.createEvent('MouseEvents');
        event.initEvent('click', true, true);
        pom.dispatchEvent(event);
    }
    else {
        pom.click();
    }
}





function makeCanvasDiv(){
	a = document.createElement("div");
	a.style.position = "absolute";
	a.style.width = "60%";
	a.style.height = "70%"
	a.style.left = "50%";
	a.style.transform = "translate(-50%, -50%)";
	a.style.top = "50%";

	document.body.appendChild(a);
	b = document.createElement("canvas");
	originalCanvasShape = [b.width, b.height]

	b.id="pointMap"

	b.onmousemove = function(event){
		if (mouseDown) {
			let bound = document.getElementById("pointMap").getBoundingClientRect();
			let currentMouseSpot = [event.clientX - bound.x, event.clientY - bound.y];
			if (lastMouseSpot[0] != 0) {

				let coordChange = ctxToCoord(lastMouseSpot[0]-currentMouseSpot[0], lastMouseSpot[1]-currentMouseSpot[1])
				canvasCenterCoords[0] += coordChange[0];
				canvasCenterCoords[1] -= coordChange[1];
			}
			lastMouseSpot = currentMouseSpot;

			drawBoard();
			if (robotCentered){
				robotCentered = false;
				document.getElementById("reCenter").style.display="block";
			}
			dragged = true;
		}
	};
	b.onmousedown = function(event) {
		mouseDown = true;
		let bound = document.getElementById("pointMap").getBoundingClientRect();
		lastMouseSpot = [event.clientX - bound.x, event.clientY - bound.y];
		dragged = false;
	}
	b.onmouseup = function(event){
			mouseDown = false;
			let bound = document.getElementById("pointMap").getBoundingClientRect();
			let currentMouseSpot = [event.clientX - bound.x, event.clientY - bound.y];
			if (dragged == false){
					let c = document.getElementById("pointMap");
					let ctx = c.getContext("2d");
					let canvasWidth = c.width;
					let canvasHeight = c.height;
					let canvasSize = c.getBoundingClientRect();
					let ctxCenterCoords = [canvasWidth/2, canvasHeight/2]
					let crds = ctxToCoord(ctxCenterCoords[0]-currentMouseSpot[0], currentMouseSpot[1]-ctxCenterCoords[1])
					crds[0] += canvasCenterCoords[0]
					crds[1] += canvasCenterCoords[1]
					
				
					document.getElementById("selectedCoordBox").style.display = "block";
					document.getElementById("selectedCoordBoxBody").innerHTML = "("+ crds[0].toFixed(7) + ", " + crds[1].toFixed(7) + ")";

			}

	}

	b.style.width="100%";
	b.style.height="100%";

	

	b.addEventListener('wheel',function(event){
		if ((Math.abs(canvasScale)>1 || event.deltaY>0) && (Math.abs(canvasScale)<10000000 || event.deltaY<0)) {
		    canvasScale *= (1+event.deltaY/500);
		    
		    event.preventDefault();
		    // console.log("scale", canvasScale)
		    if (robotCentered){
					robotCentered = false;
					document.getElementById("reCenter").style.display="block";
				}
				drawBoard();
	
		}
	}, false);

	b.style.background = "rgb(200,255,200)";
	a.appendChild(b);
	a.style.border = "2px solid #73AD21";

	//get DPI
	let dpi = window.devicePixelRatio;
	//get canvas
	let canvas = document.getElementById('pointMap');
	//get context
	let ctx = canvas.getContext('2d');
	function fix_dpi() {
		//get CSS height
		//the + prefix casts it to an integer
		//the slice method gets rid of "px"
		let style_height = +getComputedStyle(canvas).getPropertyValue("height").slice(0, -2);
		//get CSS width
		let style_width = +getComputedStyle(canvas).getPropertyValue("width").slice(0, -2);
		//scale the canvas
		canvas.setAttribute('height', style_height * dpi);
		canvas.setAttribute('width', style_width * dpi);
	}
	fix_dpi()

	
		d = document.createElement("div");
		
		d.innerHTML = "Re-Center"
		d.id = "reCenter";
		d.style.position = "absolute";
		d.style.textAlign = "center";
		d.style.backgroundColor = "rgb(100,100,100)";
		d.style.left = "80%";
		d.style.transform = "translate(-50%, -50%)";
		d.style.top = "90%";
		d.style.width = "15%";
		d.style.height = "5%";
		d.style.textAlign = "center";
		d.style.padding = "10px";
		d.style.borderRadius = "10px";
		d.onclick = function(){
			// console.log("hello");
			robotCentered = true;
			canvasCenterCoords = [...robotCoords];
			adjustScale();
			drawBoard();
			this.style.display = "none"
		};
		a.appendChild(d);
		d.style.display="none";
	





	a2 = document.createElement("div");
	a2.style.position = "absolute";
	a2.style.width = "30%";
	a2.style.paddingBottom = "20%"
	a2.style.left = "0%";
	a2.style.top = "0%";

	a.appendChild(a2);
	b2 = document.createElement("canvas");
	originalCanvasShape = [b2.width, b2.height]
	b2.style.position = "absolute";

	b2.id="camMap"

	b2.style.width="100%";
	b2.style.height="100%";

	
	b2.style.background = "rgb(255,255,255)";
	a2.appendChild(b2);
	a2.style.border = "2px solid #73AD21";
	
}


// makeBox()

function makeBox(location, width, id){
	d = document.createElement("div");
	d.id = id
	a.style.border = "2px solid rgb(0,0,0)";
	d.style.position = "absolute";
	d.style.textAlign = "center";
	d.style.backgroundColor = "rgb(200,200,200)";
	d.style.left = location[0]+"%";
	d.style.transform = "translate(-50%, -50)";
	d.style.top = location[1] + "%";
	d.style.borderRadius = "10px";
	d.style.width = width + "%";
	// d.style.border = "2px solid #73AD21";
	document.body.appendChild(d);

	e = document.createElement("div");
	e.id = id + "Header";
	// e.innerHTML = "clcik here";
	// e.style.cursor = "move";
	e.style.padding = "10px";
	e.style.borderRadius = "10px 10px 0px 0px";
	e.style.backgroundColor = "#2196F3";
	d.appendChild(e);

	e = document.createElement("p")
	// e.innerHTML = "blah"
	e.id = id + "Body"
	d.appendChild(e);
}



makeCanvasDiv();

drawBoard();
makeStatusBoxes();
drawCamBoard();

</script>



</body>
</html>